@model ArticleViewModel
@{
    ViewData["Title"] = "Article's information";
}
@{
    <h5 class="card-title">Данные статьи: @Model.Title</h5>
    <div class="card w-75">
        <div class="card-body">
            <input class="form-control" asp-for="Content" value="@Model.Id" readonly="true" />
            <h5 class="card-title">@Model.CreatedDate</h5>
            <h5 class="card-title">@Model.AuthorName</h5>
            <h5 class="card-title">Title: @Model.Title</h5>
            <span>Tags: </span>
            @foreach (var tag in Model.Tags)
            {
                <span>@tag.Name</span>
            }
            <h5 class="card-title">Content: </h5>
            <h5>@Model.Content</h5>
            @foreach (var comment in Model.Comments)
            {
                <span>@comment.Author</span>
                <span>@comment.Text</span>
                <p></p>
            }
            <a class="btn btn-sm btn-primary" method="get" asp-controller="Comment" asp-action="Create" asp-route-articleId="@Model.Id">Создать</a>
        </div>
    </div>
    <p></p>
}